html, body
{
  height: 100%;
  margin: 0;
  
}

body
{
background-image: linear-gradient(to right top, #8a12af, #a824b9, #fc9fef, #bd3bdd, #5a088a);
}
#title{
    color: white;font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px; word-spacing: 2px; margin-top: 75px;
}
#title img {
    width: 75px;margin-left: -10px; border-radius: 9px; 
}

#textone{
  text-align: center; color: rgb(221, 119, 241); font-family: Georgia, 'Times New Roman', Times, serif; font-size:50px ;
}
#texttwo{
  text-align: center; color: rgb(221, 119, 241); font-family: Georgia, 'Times New Roman', Times, serif; font-size:40px ;
}
#user_name{
  height: 1cm; width: 15cm; border-radius: 5px;
}
#login_button{
  background-color:rgb(221, 119, 241); color: white; width: 3cm; font-size: 15px;
}
.header{
  background-color: white;
}
.login_div{
  background-color: white;float: none; border-radius: 15px; width: 25cm; height: 10cm;
}